html{
    color-scheme: dark;
}

#animated_title{
    background-color: rgb(16, 3, 26);
    display: grid;
    place-items: center;

}

#project_title{
    color: white;
    font-size: 8rem;
    font-family: "Space Mono", monospace;
    border-radius: 5px;
    border-style: groove;
    padding: 15px;
    margin: 20px 10px 30px 10px;
}

#project_title:hover {
    background-color: white;
    color: black;
  }

.wrapper{
    max-width: 50rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

img {
    
}